body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-image: url(./assets/brunch-delicious-dining-1426715.jpg) */
    background: url(./assets/background-chillies-color-1435895.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }
  
  .wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  
  .controls, .results {
    flex: 1;
    padding: 10px;
  }
  
  form p:nth-of-type(1) {
    margin-top: 0;
  }
  
  h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
  }
  
  h2 {
    font-size: 40px;
  }

  .submit:hover {
    color: red;
    font-size: 20px;
  }


  
  /* article p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  article p:nth-of-type(2) {
    font-size: 14px;
    line-height: 2;
  } */
  
  nav {
    margin-bottom: 50px;
  }
  
  /* .prev {
    float: left;
  }
  
  .next {
    float: right;
  } */
  
  menu {
    padding: 40px;
    margin-bottom: 20px;
    background-color: rgb(129, 12, 12);
    border: 3px solid black;
    /* align-content: center;
    align-self: center;
    flex-direction: column;
    justify-content: space-between; */
  }
  
  img {
    float: center;
    /* margin-left: 20px; */
    max-width: 300px;
    border: 10px;
    border-color: black;
  }
  
  /* .clearfix {
    clear: both;
  } */
  
  span {
    background-color: #ccc;
    padding: 5px;
    margin: 5px;
  }

  /* section {
    background-color: darkgray;
    align-items: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50vw;
    
  } */

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    width: 100vw;
}
​
.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
    flex: 1;
    align-self: flex-end;
    align-content: center;
}

.apiHeading {
  /* text-align: center; */
  text-decoration: none;
  align-content: top;
  font-size: 20px;
}

.apiImg {
  align-self: flex-end;
  align-content: center;
  border: 5px;
  border-color: black;

}

.apiArticle {
 align-self: flex-end;
    align-content: center;
    font-size: 30px;
}

div {
  width: 450px;
  text-align: center;
  height: 500px;

}

/* section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
​
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
} */

